a, .btn{
    color: #944;
    transition: 0.4s;
}
a:active{
    color: #500;
}
a:hover, .btn:hover{
    color: #38a;
    text-decoration: none;
}
header{
    color: #555;
    margin-bottom: 10px;
}
.links{
    margin-top: 22px;
    padding-right: none;
}
.post-date{
    margin-top: 17px;
}
pre{
    border: 0;
    font-size: 15px;
}
pre code{
    padding: 0;
}
